{% extends 'basic.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {{ block.super }}
{% endblock %}
{% block description %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <section class="pageName">
        <div class="wrapper">
            <h1 class="page-title">{% trans 'Рекомендации'%}</h1>
            <div class="pageTop-search input-block">
               {% include 'page/_search_form.html' %}
            </div>
        </div>
    </section>
    <section class="watching watching-second">
        <div class="wrapper">
           	<div class="post-row">
                {% if top3_all_recomended_videos %}
                    {% for video in top3_all_recomended_videos %}
                        {% include 'page/_video-card-med.html' %}
                    {% endfor %}
                {% endif %}
				 {% if other_all_recomended_videos %}
                    {% for video in other_all_recomended_videos %}
                        {% include 'page/_video-card-small.html' %}
                    {% endfor %}
                {% endif %}


			</div>
        </div>
    </section>
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}