{% extends 'basic.html' %}
{% load static %}
{% block title %}
    {{ block.super }}
{% endblock %}
{% block description %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <!-- start pageName -->
	<section class="pageName" style="background-image: url(img/pattern-football.svg);">
		<div class="wrapper">
			<h1 class="page-title">{{ category.name }}</h1>
			<div class="pageTop-search input-block">
				{% include 'page/_search_form.html' %}
			</div>
		</div>
	</section>
	<!-- end pageName -->
	<!-- start categories -->
    {% if category.subcat %}
    	<section class="categories">
		<div class="wrapper">
			<h4 class="categories-title">ПОДКатегории</h4>
			<div class="categories-row">
                {% for subcat in category.subcat.all %}
				<div class="categories-col">
					<a href="{% url 'subcategory' category.name_slug subcat.name_slug %} " class="categories-bg" style="background-image: url({{ subcat.image.url }});">
						<span class="categories-name">{{ subcat.name }}</span>
					</a>
				</div>
                {% endfor %}

			</div>
		</div>
	</section>
    {% endif %}
	<!-- end categories -->
	<!-- start watching -->
	<section class="watching watching-second">
		<div class="wrapper">
		  {% if top2_video %}
                <div class="section-top">
                    <h2 class="section-title">Топ в этой категории</h2>
                </div>
                <div class="post-row post-row__big">
                    {% for video in top2_video %}
                        {% include 'page/_video-card-big.html' %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="post-row">
                {% if top5_video %}
                    {% for video in top5_video %}
                        {% include 'page/_video-card-med.html' %}
                    {% endfor %}
                {% endif %}
                {% for video in other_videos %}
                    {% include 'page/_video-card-small.html' %}
                {% endfor %}
            </div>
		</div>
	</section>
	<!-- end watching -->
{% endblock %}
{% block js %}
      {{ block.super }}

{% endblock %}