.not-visible{
    display: none;
}

.hover{
    border-color: #4285f4;
}

.file-good{
    border-color: #0bf447;
}

.file-bad{
    border-color: #f41f16;
}

.article-like,.article-dislike,.testimonials-list li span{
    cursor: pointer;
    opacity: .8;
    transition: opacity .1s linear;
}

.article-like:hover,.article-dislike:hover,.testimonials-list li span:hover{
    opacity: 1;
}

.testimonials-list li span.active svg path {
    fill: #ef6969;
}
.pageTop-search{
    position: relative;
}
.search-results{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    z-index: 10;
    left: 0;
    right: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.search-results.search-results-active{
     opacity: 1;
     pointer-events: all;
}
.search-results a{
    display: block;
    margin-bottom: 10px;
    color: #000;
}
.search-results a:last-child{
   margin-bottom: 0;
}

.search-results a:hover{
    color: #ef6969;
}