{% extends 'basic.html' %}
{% load static %}
{% block title %}
    {{ block.super }}
{% endblock %}
{% block description %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <section class="pageName" style="background-image: url(img/pattern-football.svg);">
        <div class="wrapper">
            <h1 class="page-title">{{ subcategory.name }}</h1>
              <div class="pageTop-search input-block">
               {% include 'page/_search_form.html' %}
            </div>
        </div>
    </section>
    <section class="watching watching-second">
        <div class="wrapper">

            <div class="post-row">
               {% for video in history_videos.video.all %}
                    {% include 'page/_video-card-small.html' %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}